{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Available references</h1>
        <ul>
            <li>12WA24B</li>
            <li>202469</li>
            <li>45679D</li>
        </ul>
        <hr/>
        <div id="root"></div>
    </div>
{% endblock %}
