{% extends 'base.html.twig' %}

{% block title %}New MyModel{% endblock %}

{% block body %}
    <h1>Create new MyModel</h1>

    {{ include('back/my_model/_form.html.twig') }}

    <a href="{{ path('back_my_model_index') }}">back to list</a>
{% endblock %}
